.panda-bg-light{
    background-color: #f8f9fa;
}
.panda-bg-primary{
    background-color: #fceae8;
}
.panda-bg-warning{
    background-color: #ff1b74;
}
.panda-watch{
    background-color: #ffa500;
   color: white;
}
.panda-bag{
    background-color:#da70d6;
   color: white;
}
.panda-shoe{
    background-color:#0000ff;
   color: white;
}